<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
table, td, th {
    border: 1px solid black;
}
th {
    background-color: black;
    color: white;
    padding:2px;
}
td {
	padding:5px;
	font-size: 14px;
}
</style>
<!-- Latest compiled and minified CSS -->
</head>
<body>
 <h1>GoTel Reservations</h1>
 <table width="90%" style="margin: 20px 20px;" cellpadding="10">
 	<tr>
 		<th>JobID</th>
 		<th>App</th>
 		<th>Component</th>
 		<th>Owner</th>
 		<th>Frequency</th>
 		<th>TimeUnits</th>
 		<th>LastCheckin</th>
 		<th>Num Checkins</th>
 		<th>Status</th>
 	</tr>
 {{range .}}
    <tr>
    <td>{{.JobID}}</td>
    <td>{{.App}}</td>
    <td>{{.Component}}</td>
    <td>{{.Owner}}</td>
    <td>{{.Frequency}}</td>
    <td>{{.TimeUnits}}</td>
    <td>{{.LastCheckinStr}}</td>
    <td>{{.NumCheckins}}</td>
    {{ if .FailingSLA }}
    	<td><span style="color:red">FAILING</span></td>
    {{ else }}
		<td><span style="color:green">OK</span></td>
    {{ end }}
    </tr>
 {{end}}
  </ul>
 </table>
 </body>
 </html>